<a href="https://colab.research.google.com/github/Desmondonam/simple_project_solutions/blob/main/Assignment2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import that libraries needed for the solution

import pandas as pd
import numpy as np

## Task 1 Loading the data

In [ ]:
data = pd.read_csv('/content/combined_sales_data.csv')
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
186845,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
186846,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
186847,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
186848,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
186849,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

## Task 2
Calculate the total revenue generated from sales in the dataset.

In this task you have to have the sales column where you get the total sales for each product = quantity * price

In [ ]:
data.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [ ]:
data['Quantity Ordered'].fillna(method='ffill', inplace=True)
data['Price Each'].fillna(method='ffill', inplace=True)

In [ ]:
# Convert 'Quantity' and 'Price' columns to numeric types
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'], errors='coerce')
data['Price Each'] = pd.to_numeric(data['Price Each'], errors='coerce')

# Perform multiplication and calculate total revenue
total_revenue = (data['Price Each'] * data['Price Each']).sum()

In [ ]:
total_revenue

26979499939.674103

## Most popular products

In [ ]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1.0,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1.0,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2.0,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1.0,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1.0,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [ ]:
product_quantities = {}
for product, quantity in zip(data['Product'], data['Quantity Ordered']):
    if product in product_quantities:
        product_quantities[product] += quantity
    else:
        product_quantities[product] = quantity

most_popular_product = max(product_quantities, key=product_quantities.get)
print("Most Popular Product:", most_popular_product)

Most Popular Product: AAA Batteries (4-pack)

## Average price of product sold

In [ ]:
average_price = np.mean(data['Price Each'])
print("Average Price:", average_price)

Average Price: 184.3584412819784

## Monthly sales for each month

In [ ]:
from collections import defaultdict

monthly_revenue = defaultdict(float)
for date, quantity, price in zip(data['Order Date'], data['Quantity Ordered'], data['Price Each']):
    year_month = date[:2]  # Extract YYYY-MM
    monthly_revenue[year_month] += quantity * price

print("Monthly Sales Revenue:", monthly_revenue)

TypeError: ignored

## Month with highest revenue

In [ ]:
highest_month = max(monthly_revenue, key=monthly_revenue.get)
print("Month with Highest Sales Revenue:", highest_month)

Month with Highest Sales Revenue: 01